{% extends 'base_app/bootsnip/main.html' %}
{% block content %}
    <center>
        <div class="container">
            <form class="form-group" action={% url 'validate_pin' %} method="POST">
                {% csrf_token %}
                <label for="OTP">Enter OTP from telegram account</label>
                <input class="form-control" id="OTP" name="OTP" type="text" minlength="5" maxlength="5">
                <input type="hidden" value={{ num }} name="ph_num"/>
                <button class="btn btn-primary btn-block" type="submit">validate OTP</button>
            </form>
        </div>
    </center>
{% endblock content %}