{% extends 'base_app/bootsnip/main.html' %}

{% block content %}

    <div class="container">
        {% if is_authorized %}

            <h1>Registration Form</h1>
            <div class="row">
                <div class="col-sm-12">
                    <label>Name</label>
                    <input class="form-control" value={{ name }} disabled>
                    <label>Roll Number</label>
                    <input class="form-control" value={{ rollno }} disabled>
                    <label>E-mail</label>
                    <input class="form-control" value={{ email }} disabled>
                    <label>Phone Number</label>
                    <input class="form-control" value={{ phone }} disabled>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-sm-12">

                    <p>Enter your telegram number.</p>

                    <form action="." method="POST" class="form" id="submit_form">
                        {% csrf_token %}
                        <label for="telegram_number">Telegram Number (Without country code)</label>
                        <input class="form-control" name="telegram_number" type="text" maxlength="10" minlength="10"
                               id="telegram_number" value={{ phone }}
                                       type="text">
                        <div class="form-group">

                        </div>

                    </form>
                    <button id="link" class="btn btn-primary">Get OTP</button>
                </div>
            </div>
        {% else %}


            <h3>You are not authorized by KCT to register to this channel.Kindly contact iqube@kct.ac.in if it
                is a mistake.</h3>
            <a href="{% url 'logout' %}" class="btn btn-logout btn-primary btn-block">
                Logout
            </a>
        {% endif %}

    </div>

    <script>
        // Alert Redirect to Another Link
		$(document).on('click', '#link', function(e) {
		    swal({
				title: "Are you sure?",
				text: "Is this the Active Telegram Number!!",
				type: "warning",
				confirmButtonText: "Yes, Proceed!",
				showCancelButton: true
		    })
		    	.then((result) => {
					if (result.value) {
					    console.log(result.value)
					    document.getElementById('submit_form').submit()
					} else if (result.dismiss === 'cancel') {
					    swal(
					      'Cancelled',
					      'Your stay here :)',
					      'error'
					    )
					}
				})
		});
    </script>
{% endblock content %}