{% extends "base_app/base.html" %}

{% block content %}

    <div class="container">
    <div class="jumbotron">
        <h3 class="text-black-50">
            Congratulations. You have been successfully registered to the channel.
            Your request is awaiting approval.
            You will be added to the channel once approved. Thanks
        </h3>
    </div>
    </div>

    <style>
    .success{
        background-color: #1e7e34;
        opacity: 0.1;
        color: darkgreen;
    }
    </style>

    <script>
        function redirect(){
            const element = document.createElement("a");
            element.href = "/"
            element.click()
        }

        setTimeout(redirect,5000)
    </script>
{% endblock content %}