{% extends 'base_app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
                {% if user.userrecord %}
                    <a href="{% url 'logout' %}" class="btn btn-logout btn-primary btn-block">
                        Logout
                    </a>
                {% else %}
                    <h3>You are not authorized to register to this channel.Kindly contact admin if it
                        is a mistake.</h3>
                {% endif %}
            {% else %}
                <div class="container">
            <div class="row">
                <form method="POST" class="form" id="UserCreateOrLogin">
                    {% csrf_token %}
                    <label for="email">Enter email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                    <div id="other" class="form-group">
                        <label for="password1">Enter Password</label>
                        <input type="password" name="password1" id="password1" class="form-control">
                        <label for="password2">Confirm Password</label>
                        <input type="password" name="password2" id="password2" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
        </div>
            {% endif %}
    <script>
        document.getElementById("email").addEventListener("change", async (event) => {
            const response = await fetch(`/user_info?email=${event.target.value}`);
            const results = await response.json();
            if (results.message == "exists") {
                document.getElementById('other').innerHTML = '';
                document.getElementById('UserCreateOrLogin').action = '/login/'
                password_field = document.createElement('input')
                password_field.placeholder = "Enter Password Here"
                password_field.name = "pwd"
                password_field.type = "password"
                password_field.classList.add('form-control')
                document.getElementById('other').append(password_field)
            }
            else{
                document.getElementById('other').innerHTML = '';
                document.getElementById('UserCreateOrLogin').action = '/register/'
                const fields ={
                        'password1':'Enter Password',
                        'password2':'Confirm Password'
                    };

                for (let fieldsKey in fields) {
                    input = document.createElement('input');
                    input.classList.add('form-control')
                    label = document.createElement('label');
                    input.type = 'password';
                    input.id = fieldsKey;
                    label.htmlFor=fieldsKey;
                    label.textContent = fields[fieldsKey];
                    input.name = fieldsKey;
                    document.getElementById('other').append(label);
                    document.getElementById('other').append(input);
                }
            }
        })
    </script>
{% endblock content %}